@import "tailwindcss";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.spin {
  animation: spin 30s linear infinite;
}

.spin-reverse {
  animation: spin-reverse 30s linear infinite;
}

.spin:hover, .spin-reverse:hover {
  animation-play-state: paused;
}
